:root {
  --agreeableness-width: 0%;
  --luck-width: 0%;
  --openness-width: 0%;
  --drive-width: 0%;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
}

.graph-container {
  background-color: #333;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  align-items: center;

  button {
    position: absolute;
    top: 30px;
    left: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
    color: #fff;
    background-color: #333;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  h1 {
    text-align: center;
  }

  h3 {
    margin: 5px;
  }

  .graph {
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    li {
      margin: 20px 0;
      padding: 10px;
    }

    .graph_bar {
      background: #353b48;
      display: block;
      height: 20px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

      span {
        height: 20px;
        float: left;
        background: linear-gradient(
          135deg,
          rgba(236, 0, 140, 1) 0%,
          rgba(252, 103, 103, 1) 100%
        );
      }

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
    }
  }
}

.agreeableness {
  width: var(--agreeableness-width);
  animation: agreeableness 2s ease-in-out;
}
.luck {
  width: var(--luck-width);
  animation: luck 2s ease-in-out;
}
.drive {
  width: var(--drive-width);
  animation: drive 2s ease-in-out;
}
.openness {
  width: var(--openness-width);
  animation: openness 2s ease-in-out;
}

@keyframes agreeableness {
  0% {
    width: 0%;
  }
  100% {
    width: var(--agreeableness-width);
  }
}
@keyframes luck {
  0% {
    width: 0%;
  }
  100% {
    width: var(--luck-width);
  }
}
@keyframes drive {
  0% {
    width: 0%;
  }
  100% {
    width: var(--drive-width);
  }
}
@keyframes openness {
  0% {
    width: 0%;
  }
  100% {
    width: var(--openness-width);
  }
}
