* {
  padding: 0;
  margin: 0;
  background-color: #333;
}

.main-container {
  min-height: 100vh;
  background-color: #333;
}

button {
  width: 200px;
  height: 55px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 10px 0;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  margin-left: 200px;


  &:hover {
    transform: scale(1.03);
  }
}
